# Ignorar carpeta de Visual Studio
.vs/
*.csproj.user
*.dbmdl

# Archivos de usuario y temporales
bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.cache
*.log

# Archivos de sistema de Windows
Thumbs.db
Desktop.ini

*.tmp
